<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
    xmlns:p="http://www.springframework.org/schema/p"
    
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    
	<bean class="com.springcore.Student" name="student1">
<!-- specifying value using attribute-->	
		<property name="studentId" value="123"></property>
		<property name="studentName" value="Prabhat"></property>
		<property name="studentAddress" value="Mysore"></property>
		
	</bean>
	
<!-- specifying value using p schema-->		
	<bean class="com.springcore.Student" name="student2" p:studentId="111" p:studentName="Ojesvi" p:studentAddress="Bangalore">
		
	</bean>
    
</beans>